@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

header {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(83,83,83,1) 50%, rgba(34,34,34,1) 100%);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 100px;
}

#logo h1 {
    font-size: 2em;
}

#openMenu {
	display: none;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#menu {
    
    justify-content: space-between;
    margin-right: 100px;
}

#menu a {
    padding: 10px 20px;
}

#closeMenu {
    display: none;
}

main {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(83,83,83,1) 50%, rgba(34,34,34,1) 100%);
    padding: 20px;
}

.hero {
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.service-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.service-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1.1em;
    color: #666;
}

footer {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(83,83,83,1) 50%, rgba(34,34,34,1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1em;
}

@media (max-width: 717px) {
    nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
		height: 100vh;
        background-color: #03045e;
        padding: 20px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        text-align: center;
		margin: 0;
		opacity: 0;
		transition: 1s;
    }

    nav a {
        font-size: 1.5em;
    }

    #menu {
        justify-content: center;
    }

    #openMenu {
        display: block;
		margin-left: auto;
    }

	#closeMenu {
		display: block;
		position: fixed	;
		top: 20px;
		right: 20px;
		font-size: 2em;
		color: white;
		background: none;
		border: none;
		cursor: pointer;
	}
	
    .hero h2 {
        font-size: 2em;
    }

    .services {
        flex-direction: column;
        gap: 30px;
    }

    .service-item {
        width: 100%;
    }
}
